<!--The content below is only a placeholder and can be replaced.-->
<!--Code below is about flex-->
<div style="display: flex; justify-content: space-evenly">
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>
  <div class="container-1">
    One block
  </div>


</div>

<div>
</div>>

<--Class example-->
<div class="outerContainer">
  <div>ClassI</div>
  <div>ClassII</div>
  <div style="display: flex; justify-content: space-evenly">
       <button class="btn-secondary">
         VIP 资源
       </button>
      <button class="btn-secondary">
        课程
      </button>
      <button class="btn-secondary">
        课堂
       </button>
</div>


</div>
